body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px; }
  body .navbar {
    width: 480px;
    margin: 0 auto; }
  body .panel {
    width: 480px;
    margin: 0 auto;
    margin-top: 20px; }
    body .panel #headingOne {
      color: #31708f;
      background-color: #d9edf7; }
      body .panel #headingOne .panel-title {
        font-size: 12px; }
      body .panel #headingOne .panel-body {
        line-height: 20px; }
